body
{
    background: Lavender;
}

.header {
    padding-top: 20%;
    text-align: center;
    padding-bottom: 5%;
    font-family: "monospace", monospace;
}

a {
    overflow: hidden;
    font-family: "monospace", monospace;
    display: inline-block;
    width: 20%;
    height: 20%;
    padding: 20px;
    border: 1px solid black;
    color: black;
    text-align: center;
    text-decoration: none;
}

a:hover {
    background-color: black;
    color: Lavender;
}