<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<table>
  <thead>
  <style type="text/css">
    body
    {
      background: bisque;
      font-family: "Courier New", monospace;
    }

    table, th, td {
      border-width: 50px;
      width: 50%;
      border-spacing: 12px;
      column-width: 100px;
      font-size: 30px;

    }
    tr:hover {background-color: dimgray ;}
  </style>
  <tr>
    <th>Temperature Report</th>
    <th>Area</th>

  </tr>
  </thead>
  <tbody>
  <tr th:each="obj : ${temps}">
    <td th:text="${obj} + ' C'"></td>

  </tr>
  </tbody>
</table>